<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 4 : Event Binding</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row">
        <div class="col-6">
            <div class="col align-self-center">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        Event Binding de la vue vers le .Ts - (Click)
                    </div>
                    <div class="card-body">
                        <p class="card-text">La valeur du nombre est : {{ nb1 }}</p>
                        
                        <button class="btn btn-success" (click)="increaseNb1()">+</button>&nbsp;
                        <button class="btn btn-warning" (click)="decreaseNb1()">-</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="resetNb1()">Reset</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col align-self-center">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        Event Binding de la vue vers le .Ts - keyDown
                    </div>
                    <div class="card-body">
                        <p class="card-text">La valeur du nombre est : {{ nb2 }}</p>

                        <button class="btn btn-success" (mouseenter)="increaseNb2()">+</button>&nbsp;
                        <button class="btn btn-warning" (mouseenter)="decreaseNb2()">-</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="resetNb2()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col align-self-center">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        List des events Binding
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-item">click = au clic de la souris</li>
                            <li class="list-item">dblclick = au double clic de la souris</li> 
                            <li class="list-item">submit = a l'envoi du formulaire</li>
                            <li class="list-item">blur = perte du focus de l'élément (form)</li>  
                            <li class="list-item">focus = au focus de l'élement</li> 
                            <li class="list-item">scroll = lors du scroll de l'élement</li>
                            <li class="list-item">cut = lors du ctrl+x</li>
                            <li class="list-item">copy = lors du ctrl+c</li>
                            <li class="list-item">paste = lors du ctrl+v</li>
                            <li class="list-item">keyup = touche du clavier up</li>
                            <li class="list-item">keypress = lors d'un appui sur une touche clavier</li>
                            <li class="list-item">keydown = touche du clavier down</li>
                            <li class="list-item">mouseup = lache le bouton de la souris (sur l'élement)</li>
                            <li class="list-item">mousedown = appuye le bouton de la souris (sur l'élement)</li>
                            <li class="list-item">mouseenter = la souris rentre dans l'élément</li>
                            <li class="list-item">drag = lors de la sélection de l'élement pour le déplacer</li>
                            <li class="list-item">drop = lors du relachement de ce même élement</li>
                            <li class="list-item">dragover = lors du déplacement de cet élement (toute les 100ms)</li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
