<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 14 : Les modèles de données</h1>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Les modèles de données User interfacé<br>
                </div>
                <div class="card-body">
                    <div>
                        <p>
                            {{user1 |json}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

