<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 3 : La page 404 **</h1>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header bg-success text-white">
					Redirection sur 404 + Redirection router
				</div>
				<div class="card-body">
                    <a class="btn btn-warning" routerLink="/bla">Page incorrect</a>
                </div>
			</div>
		</div>
	</div>
</div>
