
<div class="container-fluid">
	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Page Guarded<br>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam sapiente doloremque possimus ratione voluptate odit dolores distinctio. Illum dolor quas cumque iusto vel adipisci eaque earum laborum odio perspiciatis at minima blanditiis nisi eum voluptatum repellendus ad aperiam, incidunt voluptas amet facilis quasi nostrum corrupti? Ducimus ex cupiditate natus? Ad.
                </div>
            </div>
        </div>
    </div>
</div>