<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 17 : Les observables</h1>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Les Observables de type of (le plus simple)
                </div>
                <div class="card-body">
                    <p>Réponse simple : {{ singleResp }}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Les Observables de type of avec opérateurs
                </div>
                <div class="card-body">
                    <p>Réponse simple : {{ singleRespPipe }}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Les Observables de type from (le plus simple)
                </div>
                <div class="card-body">
                    <p>Réponse from : {{ fromResp }}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Les Observables de type interval
                </div>
                <div class="card-body">
                    <p>Secondes : {{ secondes }}</p>
                </div>
            </div>
        </div>



        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Les Observables de type Subject et BehaviorSubject
                </div>
                <div class="card-body">
                    <p>ma var 1 du service something : {{ var1 }}</p>
                    <p>ma var 2 du service something : {{ var2 }}</p>
                    <br>
                    <button class="btn btn-success" (click)="fakeLogin()">fake login observables</button>
                </div>
                <div class="card-footer">
                    les observables sont des variable sur laquel on va pouvoir souscrir un abonnement
                chaque modification apportée a l'observée, sera impacter directement dans l'observeur
                </div>
            </div>
        </div>


        
    </div>
</div>