<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 1 : Le binding de propriétés ts -> html</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col align-self-center">
			<div class="card">
				<div class="card-header bg-success text-white">
					Binding de string
				</div>
				<div class="card-body">
					<p class="card-text">Ma Variable maVariable1 -> vaux {{maVariable}}</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-header bg-success text-white">
					Binding de number
				</div>
				<div class="card-body">
					<p class="card-text">Ma Variable maVariable2 -> vaux {{maVariable2}}</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-header bg-success text-white">
					Binding de Boolean
				</div>
				<div class="card-body">
					<p class="card-text">Ma Variable maVariable3 -> vaux {{maVariable3}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
