<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 15 : Les reactives forms </h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Les formulaires en TWB
                </div>
                <div class="card-body">
                    <label class="form-label">Name : </label>
                    <input [(ngModel)]="name" type="text" class="form-control">

                    <label class="form-label">Email address : </label>
                    <input [(ngModel)]="email" type="text" class="form-control">

                    <label class="form-label">Password : </label>
                    <input [(ngModel)]="password" type="password" class="form-control">

                    <label class="form-label">Select gender : </label>
                    <select [(ngModel)]="gender" class="form-select">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <br>
                    <button 
                        *ngIf="name && email && password && gender"
                        (click)="sendTwb()" 
                        class="btn btn-warning"
                    >Envoyer</button>
                </div>
            </div>
        </div>

        <div class="col-12 align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Les reactives Forms
                </div>
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="myForm">
                        <label class="form-label">Name : </label>
                        <input formControlName="name" type="text" class="form-control">

                        <label class="form-label">Email address : </label>
                        <input formControlName="email" type="text" class="form-control">

                        <label class="form-label">Password : </label>
                        <input formControlName="password" type="password" class="form-control">

                        <label class="form-label">Select gender : </label>
                        <select formControlName="gender" class="form-select">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <br>
                        <button 
                            *ngIf="myForm.valid"
                            (click)="sendRf()" 
                            class="btn btn-warning"
                        >Envoyer</button>
                        <br><br><br>
                        Form Control (abstractControl)
                        <span *ngIf="myForm.pristine" class="alert alert-info">(pristine)</span>&nbsp;&nbsp;
                        <span *ngIf="myForm.touched" class="alert alert-info">(touched)</span>&nbsp;&nbsp;
                        <span *ngIf="myForm.invalid" class="alert alert-info">(invalid)</span>&nbsp;&nbsp;
                        <span *ngIf="myForm.valid" class="alert alert-info">(valid)</span>

                        <br><br><br>
                        Form control individual (control)
                        <span *ngIf="myForm.controls.name.valid" class="alert alert-primary">Name : (valid)</span>&nbsp;&nbsp;
                        <span *ngIf="myForm.controls.email.valid" class="alert alert-primary">Email : (valid)</span>&nbsp;&nbsp;
                        <span *ngIf="myForm.controls.password.valid" class="alert alert-primary">Password : (valid)</span>&nbsp;&nbsp;
                        <span *ngIf="myForm.controls.gender.valid" class="alert alert-primary">Gender (valid)</span>
                    </form>
                </div>
            </div>
        </div>
        <hr><hr><hr>
    </div>
</div>
