<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 12 : Les promesses</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Fake service avec promesse
                </div>
                <div class="card-body">
                    <button (click)="simple()" class="btn btn-info">Simple</button>&nbsp;&nbsp;
                    <button (click)="simple2()" class="btn btn-info">Simple 2</button>&nbsp;&nbsp;
                    <button (click)="all()" class="btn btn-info">All</button>&nbsp;&nbsp;
                    <button (click)="race()" class="btn btn-info">Race</button>
                    <br>
                    <p>Return Simple : {{simpleMessage}}</p>
                    <p>Return Simple 2 : {{simple2Message}}</p>
                    <p>Return All : {{allMessage}}</p>
                    <p>Return Race : {{raceMessage}}</p>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
