<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Mega Angular 2021</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Demo 1 - 10
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="demo/demo05">Demo 0.5 : Property Model</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo1">Demo 1 : Property Binding</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo2">Demo 2 : Two Way Binding</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo3">Demo 3 : Page 404</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo4">Demo 4 : Event Binding</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo5">Demo 5 : Les Pipes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo6">Demo 6 : Les Customs Pipes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo7">Demo 7 : Les directives structurelles</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo8">Demo 8 : Les directives d'attributs Custom</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo9">Demo 9 : Les directives de Component</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo10">Demo 10 : Les input output</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo10_5">Demo 10_5 : Les input output Other demo</a></li>
                      </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Demo 11 - 20
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <li><a class="dropdown-item" routerLink="demo/demo11">Demo 11 : Services Injection (DI)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo12">Demo 12 : Les Promesses</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo13">Demo 13 : Les Guard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo14">Demo 14 : Les Modèles</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo15">Demo 15 : Les reactives Forms</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo16">Demo 16 : Les customs validators</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo17">Demo 17 : Les Observables</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo18">Demo 18 : Le HttpClient</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo1805">Demo 18.5 : Le Session Storage</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo19">Demo 19 : Les customs validators Async</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="demo/demo20">Demo 20 : Les Resolvers</a></li>
                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Exos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="exos/exos1">Exos 1</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>