<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">Demo 6 : Les Customs Pipes</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Transformation d'un nombre en jours heures minutes secondes
                </div>
                <div class="card-body">
                    Nombre original : {{maVarPiper}}<br><br>
                    Nombre custom piper en jours heures minutes secondes : {{ maVarPiper | customPipe }}
                    
                </div>
            </div>
        </div>

        <div class="col align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Transformation d'un nombre en jours heures minutes secondes
                </div>
                <div class="card-body">
                    Nombre original : {{maVarPiper2}}<br><br>
                    Nombre custom piper en jours heures minutes secondes : {{ maVarPiper2 | customPipe }}
                    <br>
                    <span class="card-title">Customs Pipes 2 avanced argument etc</span>
                    <p> {{ var1 | customPipe2 : varPow }}</p>
                    <!-- Donnera ceci dans les args du pipe-->
                    <!-- array[0 => valueVarPow]-->

                    <p> {{ var1 | customPipe2 : varPow : varPow }}</p>
                    <!-- Donnera ceci dans les args du pipe-->
                    <!-- array[0 => valueVarPow, 1 => valueVarPow]-->

                    <p> {{ var1 | customPipe2 : varPow : "varPow" }}</p>
                    <!-- Donnera ceci dans les args du pipe-->
                    <!-- array[0 => valueVarPow, 1 => "varPow"]-->
                    
                    <p> {{ var1 | customPipe2 : varPow : ["t", "a", "t", "a"] }}</p>
                    <!-- Donnera ceci dans les args du pipe-->
                    <!-- array[0 => valueVarPow, 1 => array["t", "a", "t", "a"]-->
                    
                    <p> {{ var1 }}</p>
                    <p> {{ varPow }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
